@page
@using Microsoft.Extensions.Localization
@using Cotur.Abp.BlobManagement.Localization
@using Cotur.Abp.BlobManagement.Web.Pages.BlobManagement
@model Cotur.Abp.BlobManagement.Web.Pages.BlobManagement.IndexModel
@inject IStringLocalizer<BlobManagementResource> L

@{
}
<h1>BlobManagement</h1>
<p>@L["SamplePageMessage"]</p>
